{% extends 'base.html.twig' %}

{% block body %}
    <body class="container-fluid vh-100">
        <div class="row h-100">
            <div class="col-2 bg-secondary">
                <div class="text-center">
                    <h4 class="my-3">
                        Dashboard
                    </h4>
                </div>
                <hr>
                {% block sidebar %}{% endblock %}
                <hr>
            </div>
            <div class="col-10">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
{% endblock %}