{% extends 'base.html.twig' %}

{% block body %}
    <body class="container-fluid vh-100">
        <div class="row h-100">
            <div class="col-2 bg-secondary">
                <div class="text-center">
                    <h4 class="my-3">
                        Dashboard
                    </h4>
                </div>
                <hr>
                {% block sidebar %}

                {% endblock %}
                <ul class="nav nav-pills flex-column mb-auto">
                    <li>
                        <a href="{{ path('app_events') }}" class="btn btn-sm btn-light w-100 mb-1
                            {% if app.request.attributes.get('_route') == 'app_events' %}
                                active
                            {% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar4-event" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
                                <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                            Events
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_stats') }}" class="btn btn-sm btn-light w-100
                            {% if app.request.attributes.get('_route') == 'app_stats' %}
                                active
                            {% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07"/>
                            </svg>
                            Stats
                        </a>
                    </li>
                </ul>
                <hr>
                <div>
                    <a href="{{ path('app_park_create') }}" class="btn btn-sm btn-light w-100">Add new car park</a>
                </div>
            </div>
            <div class="col-10">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
{% endblock %}
