{% extends '2col10col.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block sidebar %}

{% endblock %}

{% block content %}
    <div id="app">

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('chart') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('chart') }}
{% endblock %}
